
.DS_Store

1102-online-class list and grades.docx

1102-marking-rubrics/1102-online-group-assignments.docx

1102-online-Class_lead_comment_grades.xlsx

1102 - grading comments.md

1102-marking-rubrics/rubrics_marked/group-05-intel/1102-rubric_class_leads_lee-malcolm.docx

1102-marking-rubrics/rubrics_marked/group-05-intel/1102-rubric_class_leads_kirkwood.docx

1102-marking-rubrics/rubrics_marked/group-05-intel/1102-rubric_class_leads_fritz.docx

1102-marking-rubrics/rubrics_marked/group-05-intel/1102-rubric_class_leads_dabbay.docx

1102-marking-rubrics/rubrics_marked/group-05-intel/1102-rubric_class_leads_chahal.docx

gc_ENGL-1102-090_14847_201710_fullgc_2017-04-27-15-44-16.txt

rubrics_marked/group-01-google/1102-rubric_class_leads_castro-bell.docx
